---
import Layout from "../../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title="About Agrotech">
  <div class="container mx-auto mt-10 mb-10">
    <img src="/img/aboutAgrotech.webp" alt="AgroTech México" />
    <p class="m-10 font-bold text-4xl">AgroTech México</p>
    <p class="m-10" set:html={t("about.description")} />
    <p class="text-center font-bold">{t("about.team")}</p>
  </div>
</Layout>
