---
import Layout from "../../layouts/Layout.astro";
import { changeLanguage, t } from "i18next";
import { gallery2023 } from "../../constants_gallery";
import LightBox from "../../components/LightBox.jsx";

changeLanguage("en");
---

<Layout title="Rates Agrotech">
  <section class="container mx-auto pt-10 mb-10">
    <h1 class="font-extrabold text-4xl text-agro-green text-center">
      {t("menu.gallery")}
    </h1>
    <LightBox images={gallery2023} client:visible />
  </section>
</Layout>
 ../components/LightBox.jsx
