---
import Layout from "../layouts/Layout.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("es");
---

<Layout title='About Agrotech'>
  <div class='container mx-auto m-10'>
    <img
      src={i18next.language === 'en'
        ? '/agrotechmexico/img/aboutAgrotech-enV1.webp'
        : '/agrotechmexico/img/aboutAgrotech-esV1.webp'}
      alt='AgroTech México'
    />
    <p class='mt-10 font-bold text-4xl'>AgroTech México</p>
    <p class='mt-10' set:html={t('about.description')} />
    <p class='mt-10 text-center font-bold text-2xl'>{t('about.title_2')}</p>
    <p class='mt-10' set:html={t('about.description_2')} />
    <ul class='mt-10 space-y-4 text-left text-gray-500'>
      <li class='flex items-center space-x-3 rtl:space-x-reverse'>
        <svg
          class='flex-shrink-0 w-3.5 h-3.5 text-green-500'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 16 12'
        >
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M1 5.917 5.724 10.5 15 1.5'></path>
        </svg>
        <span>{t('about.list_1')}</span>
      </li>
      <li class='flex items-center space-x-3 rtl:space-x-reverse'>
        <svg
          class='flex-shrink-0 w-3.5 h-3.5 text-green-500'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 16 12'
        >
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M1 5.917 5.724 10.5 15 1.5'></path>
        </svg>
        <span>{t('about.list_2')}</span>
      </li>
      <li class='flex items-center space-x-3 rtl:space-x-reverse'>
        <svg
          class='flex-shrink-0 w-3.5 h-3.5 text-green-500'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 16 12'
        >
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M1 5.917 5.724 10.5 15 1.5'></path>
        </svg>
        <span>{t('about.list_3')}</span>
      </li>
      <li class='flex items-center space-x-3 rtl:space-x-reverse'>
        <svg
          class='flex-shrink-0 w-3.5 h-3.5 text-green-500'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 16 12'
        >
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M1 5.917 5.724 10.5 15 1.5'></path>
        </svg>
        <span>{t('about.list_4')}</span>
      </li>
      <li class='flex items-center space-x-3 rtl:space-x-reverse'>
        <svg
          class='flex-shrink-0 w-3.5 h-3.5 text-green-500'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 16 12'
        >
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M1 5.917 5.724 10.5 15 1.5'></path>
        </svg>
        <span>{t('about.list_5')}</span>
      </li>
      <li class='flex items-center space-x-3 rtl:space-x-reverse'>
        <svg
          class='flex-shrink-0 w-3.5 h-3.5 text-green-500'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 16 12'
        >
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M1 5.917 5.724 10.5 15 1.5'></path>
        </svg>
        <span>{t('about.list_6')}</span>
      </li>
      <li class='flex items-center space-x-3 rtl:space-x-reverse'>
        <svg
          class='flex-shrink-0 w-3.5 h-3.5 text-green-500'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 16 12'
        >
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M1 5.917 5.724 10.5 15 1.5'></path>
        </svg>
        <span>{t('about.list_7')}</span>
      </li>
      <li class='flex items-center space-x-3 rtl:space-x-reverse'>
        <svg
          class='flex-shrink-0 w-3.5 h-3.5 text-green-500'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 16 12'
        >
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M1 5.917 5.724 10.5 15 1.5'></path>
        </svg>
        <span>{t('about.list_8')}</span>
      </li>
      <li class='flex items-center space-x-3 rtl:space-x-reverse'>
        <svg
          class='flex-shrink-0 w-3.5 h-3.5 text-green-500'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 16 12'
        >
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M1 5.917 5.724 10.5 15 1.5'></path>
        </svg>
        <span>{t('about.list_9')}</span>
      </li>
      <li class='flex items-center space-x-3 rtl:space-x-reverse'>
        <svg
          class='flex-shrink-0 w-3.5 h-3.5 text-green-500'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 16 12'
        >
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M1 5.917 5.724 10.5 15 1.5'></path>
        </svg>
        <span>{t('about.list_10')}</span>
      </li>
      <li class='flex items-center space-x-3 rtl:space-x-reverse'>
        <svg
          class='flex-shrink-0 w-3.5 h-3.5 text-green-500'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 16 12'
        >
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M1 5.917 5.724 10.5 15 1.5'></path>
        </svg>
        <span>{t('about.list_11')}</span>
      </li>
    </ul>
  </div>
</Layout>
