---
import { changeLanguage, t } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("es");
---

<Layout title="Agrotech">
  <main>
    <section class="relative h-screen">
      <video
        class="absolute w-screen h-screen z-[-1]"
        muted
        loop
        autoplay
        playsinline
        poster="/img/posterAgrotech.webp"
      >
        <source src="/video_agro.mp4" type="video/mp4" />
      </video>
      <div class="flex items-center h-full">
        <div class="container mx-auto px-4">
          <img
            src="/img/logo_agro_color.webp"
            alt="Logo Agrotech"
            class="filter-shadow"
            width="350"
            height="77"
          />
          <p class="text-white font-bold home-text-agro text-2xl pt-10">
            {t("home.title")}
          </p>
          <p class="text-white font-bold home-text-agro text-2xl pt-2">
            {t("home.event_date")}
          </p>
          <img
            src="/img/igecoLogo.webp"
            alt="Igeco"
            width="200"
            height="32"
            class="filter-shadow pt-16"
          />
        </div>
      </div>
    </section>
    <article
      class="container mx-auto pt-5 grid grid-cols-1 md:grid-cols-2 gap-3 items-center"
    >
      <img
        class="rounded-3xl"
        src="/img/agrotechHome1.webp"
        alt="Agrotech"
        width="500"
        height="300"
      />
      <p set:html={t("home.description")} />
    </article>
  </main>
</Layout>
<style>
  video {
    object-fit: cover;
    object-position: left;
  }
  .home-text-agro {
    text-shadow: 4px 4px 4px black;
  }
  .filter-shadow {
    filter: drop-shadow(4px 4px 4px black);
  }
</style>
