---
import Layout from "../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("es");
---

<Layout title="Rates Agrotech">
  <section class="container mx-auto">
    <h1>TOOLKIT</h1>
    <div class="grid sm:grid-cols-3">
      <a> </a>
    </div>
  </section>
</Layout>
