---
interface Props {
  title: string;
  body: string;
  img: string;
}

const { title, body, img } = Astro.props;
---

<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <img
    class="object-cover object-center w-full h-60"
    src=`/agrotechmexico/img/${img}`
    alt="Sunset in the mountains"
  />
  <div class="px-6 py-4">
    <p class="font-bold text-xl text-center">{title}</p>
  </div>
</div>
