---
import { t } from 'i18next'
---

<div class='home-activities mt-5 text-center'>
  <h1>{t('home.title_2')}</h1>
  <div class='home-activities-wrapper'>
    <div class='relative'>
      <img
        src='/agrotechmexico/img/categorybgv1-1.webp'
        alt='fisicoconstructivismo'
        draggable='false'
      />
      <p>{t('home.category_1')}</p>
    </div>
    <div class='relative'>
      <img
        src='/agrotechmexico/img/categorybgv2-2.webp'
        alt='activacion crosstraing zumba'
        draggable='false'
      />
      <p>
        {t('home.category_2')}
      </p>
    </div>
    <div class='relative'>
      <img
        src='/agrotechmexico/img/categorybgv3-3.webp'
        alt='talleres y conferencias de nutrición y bienestar'
        draggable='false'
      />
      <p>
        {t('home.category_3')}
      </p>
    </div>
    <div class='relative'>
      <img
        src='/agrotechmexico/img/categorybgv4-4.webp'
        alt='noche de adrenalina'
        draggable='false'
      />
      <p>
        {t('home.category_4')}
      </p>
    </div>
    <div class='relative'>
      <img
        src='/agrotechmexico/img/categorybgv5.webp'
        alt='lanzamiento de startups hub'
        draggable='false'
      />
      <p>
        {t('home.category_5')}
      </p>
    </div>
    <div class='relative'>
      <img
        src='/agrotechmexico/img/categorybgv6.webp'
        alt='servicios especializados'
        draggable='false'
      />
      <p>
        {t('home.category_6')}
      </p>
    </div>
  </div>
</div>
<style>
  .home-activities h1 {
    font-size: 50px;
    color: #8bbf1f;
    font-weight: bold;
    text-shadow:
      rgb(255, 255, 255) 7px 0px 0px,
      rgb(255, 255, 255) 6.92869px 0.996602px 0px,
      rgb(255, 255, 255) 6.71622px 1.9729px 0px,
      rgb(255, 255, 255) 6.36692px 2.909px 0px,
      rgb(255, 255, 255) 5.8879px 3.78584px 0px,
      rgb(255, 255, 255) 5.28893px 4.58555px 0px,
      rgb(255, 255, 255) 4.5822px 5.29183px 0px,
      rgb(255, 255, 255) 3.78212px 5.8903px 0px,
      rgb(255, 255, 255) 2.90498px 6.36876px 0px,
      rgb(255, 255, 255) 1.96865px 6.71747px 0px,
      rgb(255, 255, 255) 0.992221px 6.92932px 0px,
      rgb(255, 255, 255) -0.00442571px 7px 0px,
      rgb(255, 255, 255) -1.00098px 6.92806px 0px,
      rgb(255, 255, 255) -1.97715px 6.71498px 0px,
      rgb(255, 255, 255) -2.91303px 6.36508px 0px,
      rgb(255, 255, 255) -3.78956px 5.88551px 0px,
      rgb(255, 255, 255) -4.58889px 5.28603px 0px,
      rgb(255, 255, 255) -5.29472px 4.57885px 0px,
      rgb(255, 255, 255) -5.89269px 3.77839px 0px,
      rgb(255, 255, 255) -6.3706px 2.90095px 0px,
      rgb(255, 255, 255) -6.71871px 1.96441px 0px,
      rgb(255, 255, 255) -6.92995px 0.98784px 0px,
      rgb(255, 255, 255) -6.99999px -0.00885142px 0px,
      rgb(255, 255, 255) -6.92743px -1.00536px 0px,
      rgb(255, 255, 255) -6.71372px -1.98139px 0px,
      rgb(255, 255, 255) -6.36324px -2.91705px 0px,
      rgb(255, 255, 255) -5.88311px -3.79328px 0px,
      rgb(255, 255, 255) -5.28313px -4.59223px 0px,
      rgb(255, 255, 255) -4.57551px -5.29762px 0px,
      rgb(255, 255, 255) -3.77466px -5.89507px 0px,
      rgb(255, 255, 255) -2.89692px -6.37243px 0px,
      rgb(255, 255, 255) -1.96016px -6.71995px 0px,
      rgb(255, 255, 255) -0.983458px -6.93057px 0px,
      rgb(255, 255, 255) 0.0132771px -6.99999px 0px,
      rgb(255, 255, 255) 1.00974px -6.92679px 0px,
      rgb(255, 255, 255) 1.98564px -6.71247px 0px,
      rgb(255, 255, 255) 2.92107px -6.36139px 0px,
      rgb(255, 255, 255) 3.797px -5.88071px 0px,
      rgb(255, 255, 255) 4.59557px -5.28022px 0px,
      rgb(255, 255, 255) 5.30051px -4.57215px 0px,
      rgb(255, 255, 255) 5.89746px -3.77094px 0px,
      rgb(255, 255, 255) 6.37426px -2.89289px 0px,
      rgb(255, 255, 255) 6.72119px -1.95591px 0px,
      rgb(255, 255, 255) 6.93119px -0.979076px 0px;
    position: relative;
    bottom: -30px;
    margin: 0;
    z-index: 2;
  }

  .home-activities-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap on smaller screens */
    position: relative;
    z-index: 1;
    height: auto;
    /* Adjust to allow content to determine height */
  }

  .home-activities-wrapper div {
    width: 0;
    height: 500px;
    flex-grow: 1;
    transition: 0.5s ease;
    box-sizing: border-box;
    /* Include padding and border in the width */
  }

  .home-activities-wrapper div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
  }

  .home-activities-wrapper div:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1 !important;
  }

  .home-activities-wrapper div:hover img {
    opacity: 1 !important;
  }

  .home-activities-wrapper p {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 23px;
    color: white;
    font-weight: bold;
    background: linear-gradient(to bottom, transparent, black);
    height: 80px;
  }

  @media (max-width: 768px) {
    .home-activities-wrapper div {
      width: 100%;
      height: 300px;
    }
  }
</style>
