---
import { t } from 'i18next'
---

<div class='container mx-auto mt-10'>
  <p class='text-3xl font-bold text-center'>{t('home.testimonials')}</p>
  <div
    class='mt-10 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 font-bold text-center text-2xl'
  >
    <div>
      <video
        class='w-full rounded-lg'
        controls
        src='/agrotechmexico/MASSEY_opti.mp4'
      >
      </video>
      <p>MASSEY</p>
    </div>
    <div>
      <video
        class='w-full rounded-lg'
        controls
        src='/agrotechmexico/EQUIPAR_opti.mp4'
      >
      </video>
      <p>EQUIPAR</p>
    </div>
    <div>
      <video
        class='w-full rounded-lg'
        controls
        src='/agrotechmexico/GROWA_opti.mp4'
      >
      </video>
      <p>GROWA</p>
    </div>
    <div>
      <video
        class='w-full rounded-lg'
        controls
        src='/agrotechmexico/JD_opti.mp4'
      >
      </video>
      <p>JOHN DEERE</p>
    </div>
  </div>
</div>
