---
import { t } from "i18next";
---

<div class="fixed top-56 right-0 p-2 bg-white z-50 grid gap-3">
  <a
    href="https://web.whatsapp.com/send/?phone=+524771731528&text=Hola+quiero+más+información+sobre+Agrotech."
    target="_blank"
  >
    <svg
      role="img"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      width="30"
      class="fill-current text-gray-600 hover:text-gray-800"
    >
      <title>WhatsApp</title><path
        d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z"
      ></path>
    </svg>
  </a>
  <a href="#suscribe">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      width="30"
      class="text-gray-600 hover:text-gray-800"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
      ></path>
    </svg>
  </a>
  <a
    href="https://hfmexico.mx/worldseafood/"
    target="_blank"
    data-popover-target="popover-left"
    data-popover-placement="left"
  >
    <svg
      fill="#000000"
      viewBox="0 0 32 32"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      class="fill-gray-600 hover:fill-gray-800"
      ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
        <title>octopus</title>
        <path
          d="M30.033 17.026c-1.412-1.513-3.406-1.873-4.212 0.819 1.884-1.254 3.792 1.674 2.115 2.969-1.37 1.058-3.839 1.193-5.395 0.342-1.921-1.051-3.354-2.358-4.378-4.151 3.561 0.854 7.461-0.068 8.922-2.83 3.969-7.505-3.959-12.543-7.114-7.604-1.114 1.744-0.613 3.838 2.194 3.688-1.816-1.35-0.119-3.969 1.667-2.828 1.459 0.932 1.404 3.237 0.609 4.822-0.946 1.886-3.779 3.166-5.931 1.54-2.129-4.038-0.588-10.144-6.746-12.141-9.079-2.945-12.159 10.958-1.104 12.828 0 0 0 0 0 0-1.841 0.033-3.456 0.506-5.727 1.621-6.131 3.011-4.892 12.786 1.361 11.728 2.151-0.364 3.196-3.142 0.055-4.081 1.031 1.848-1.746 2.939-2.615 0.121-0.703-2.277 1.319-4.674 3.274-5.304 1.903-0.613 3.447-0.677 5.146-0.364-2.283 2.137-3.528 5.020-2.644 7.713 2.778 8.461 11.989 5.15 10.161-0.418-0.646-1.966-2.585-2.903-4.244-0.635 2.194-0.552 3.148 2.42 1.135 3.080-1.644 0.54-3.756-0.844-4.12-2.58-0.488-2.333 1.232-4.817 3.416-5.944 1.384 2.207 2.423 3.037 5.194 4.504 5.356 2.835 13.288-2.28 8.979-6.897z"
        ></path>
      </g></svg
    >
  </a>
</div>

<div
  data-popover
  id="popover-left"
  role="tooltip"
  class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
>
  <div
    class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
  >
    <h3 class="font-semibold text-gray-900 dark:text-white">
      World Seadfood Industry
    </h3>
  </div>
  <div class="px-3 py-2">
    <p>{t("widgetsocial.description")}</p>
  </div>
  <div data-popper-arrow></div>
</div>
